// SiPEED's Tang Nano 1k
// Physical Contrain File for GoWin toolchain
// https://tangnano.sipeed.com/en/
// April 24, 2022

IO_LOC  "clk_27mhz"    52;
IO_PORT "clk_27mhz"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC  "button_s1"    3;
IO_PORT "button_s1"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "BUTTON_S2"    4;
// IO_PORT "BUTTON_S2"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// BL702 UART pins
// IO_LOC  "FPGA_TX"      17;
// IO_PORT "FPGA_TX"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "FPGA_RX"      18;
// IO_PORT "FPGA_RX"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// ALL LED pins are orange
// IO_LOC  "LED_OR_1"     10;
// IO_PORT "LED_OR_1"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_OR_2"     11;
// IO_PORT "LED_OR_2"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_OR_3"     13;
// IO_PORT "LED_OR_3"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_OR_4"     14;
// IO_PORT "LED_OR_4"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_OR_5"     15;
// IO_PORT "LED_OR_5"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_OR_6"     16;
// IO_PORT "LED_OR_6"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// SPI FLASH
// IO_LOC  "FLASH_MCLK"   59;
// IO_PORT "FLASH_MCLK"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "FLASH_MOSI"   61;
// IO_PORT "FLASH_MOSI"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "FLASH_MISO"   62;
// IO_PORT "FLASH_MISO"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "FLASH_NCS"    60;
// IO_PORT "FLASH_NCS"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// TF Card, These are also pins
// IO_LOC  "TF_SCLK"      36;
// IO_PORT "TF_SCLK"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "cc1_pin_buf"  36;
IO_PORT "cc1_pin_buf"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "cc2_pin_buf"  37;
IO_PORT "cc2_pin_buf"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "TF_MOSI"      37;
// IO_PORT "TF_MOSI"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "TF_MISO"      39;
// IO_PORT "TF_MISO"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "TF_CS"        38;
// IO_PORT "TF_CS"        IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// TOP-left pins (USB at top, HDMI at bottom)
// IO_LOC  "PIN25_IOB8A"  25;
// IO_PORT "PIN25_IOB8A"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN26_IOB8B"  26;
// IO_PORT "PIN26_IOB8B"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN27_IOB11A" 27;
// IO_PORT "PIN27_IOB11A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN28_IOB11B" 28;
// IO_PORT "PIN28_IOB11B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN29_IOB13A" 29;
// IO_PORT "PIN29_IOB13A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN30_IOB13B" 30;
// IO_PORT "PIN30_IOB13B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN33_IOB23A" 33;
// IO_PORT "PIN33_IOB23A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN34_IOB23B" 34;
// IO_PORT "PIN34_IOB23B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN40_IOB33B" 40;
// IO_PORT "PIN40_IOB33B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN35_IOB29A" 35;
// IO_PORT "PIN35_IOB29A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN41_IOB41A" 41;
// IO_PORT "PIN41_IOB41A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN42_IOB41B" 42;
// IO_PORT "PIN42_IOB41B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN51_IOR17B" 51;
// IO_PORT "PIN51_IOR17B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN53_IOR15B" 53;
// IO_PORT "PIN53_IOR15B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN54_IOR15A" 54;
// IO_PORT "PIN54_IOR15A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN55_IOR14B" 55;
// IO_PORT "PIN55_IOR14B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN56_IOR14A" 56;
// IO_PORT "PIN56_IOR14A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN57_IOR13A" 57;
// IO_PORT "PIN57_IOR13A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_CK_N"    68;
// IO_PORT "HDMI_CK_N"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_CK_P"    69;
// IO_PORT "HDMI_CK_P"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// TOP-right pins (USB at top, HDMI at bottom)
IO_LOC  "uart_tx_buf"  63;
IO_PORT "uart_tx_buf"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "cc1_pin"      86;
IO_PORT "cc1_pin"      IO_TYPE=LVCMOS18;
IO_LOC  "cc2_pin"      85;
IO_PORT "cc2_pin"      IO_TYPE=LVCMOS18;
// IO_LOC  "PIN84_1V8"    84;
// IO_PORT "PIN84_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN83_1V8"    83;
// IO_PORT "PIN83_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN82_1V8"    82;
// IO_PORT "PIN82_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN81_1V8"    81;
// IO_PORT "PIN81_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN80_1V8"    80;
// IO_PORT "PIN80_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN79_1V8"    79;
// IO_PORT "PIN79_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN77_1V8"    77;
// IO_PORT "PIN77_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN76_1V8"    76;
// IO_PORT "PIN76_1V8"    IO_TYPE=LVCMOS18;
// IO_LOC  "PIN77_IOT37A" 77;
// IO_PORT "PIN77_IOT37A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN76_IOT37B" 76;
// IO_PORT "PIN76_IOT37B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D2_P"    75;
// IO_PORT "HDMI_D2_P"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D2_N"    74;
// IO_PORT "HDMI_D2_N"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D1_P"    73;
// IO_PORT "HDMI_D1_P"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D1_N"    72;
// IO_PORT "HDMI_D1_N"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D0_P"    71;
// IO_PORT "HDMI_D0_P"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "HDMI_D0_N"    70;
// IO_PORT "HDMI_D0_N"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN48_IOR24B" 48;
// IO_PORT "PIN48_IOR24B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN49_IOR24A" 49;
// IO_PORT "PIN49_IOR24A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN31_IOB15A" 31;
// IO_PORT "PIN31_IOB15A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PIN32_IOB15B" 32;
// IO_PORT "PIN32_IOB15B" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;